{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        Editar Punto Venta
        <a class="btn btn-primary" href="{{ path('puntoventa') }}">
            Volver
        </a>
    </h1>
    <div class="tablasScroll col-sm-6 col-sm-offset-3">
        {{ form(edit_form) }}
    </div>
{% endblock %}
