{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
		Editar Cliente "{{ entity.razonSocial }}"
	</h1>


    <div class="joyas-container" style="width: 50% !important; margin: 0 auto;">
		<div class="container">
		{{ form(edit_form) }}
		<a id="volver" class="btn btn-default" href="{{ path('cliente') }}">
			Volver
		</a>
		</div>
	</div>
<script>
	$(document).ready(function (){
        $("input").removeAttr('required');
		$("#joyas_joyasbundle_cliente_cuit, #joyas_joyasbundle_cliente_login, #joyas_joyasbundle_cliente_clave, #joyas_joyasbundle_cliente_razonsocial").attr('required', 'required');
	});

</script>
{% endblock %}
